* {
    margin: 0;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: black;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

nav {
    padding: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    display: flex;
    
}

ul li a{
    color: white;
}